.overlay {
   background: rgba(0, 0, 0, 0.8);
   position: fixed;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;

   display: flex;
   align-items: center;
   justify-content: center;
}

.modal {
   background: #F8F8F8;
   width: 590px;
   height: 362px;
   border-radius: 8px;
   text-align: center;
   padding: 50px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   > img { 
      width: 48px;
   }

   > main {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p {
         font-weight: bold;
         font-size: 24px;
      }
   
      span {
         color: #737380;
      }
   }

   footer {
      display: flex;
      gap: 20px;

      button {
         height: 50px;
         width: 132px;
         border: none;
         border-radius: 8px;
         font-weight: 500;
      }

      .button-cancel {
         background: #DBDCDD;
         color: #737380;
      }

      .button-confirm {
         background: #E73F5D;
         color: #FFFFFF;
      }
   }
}

